* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: url("images/us.jpg") purple;
    margin:0px;
    padding:0px;
}

#cabeza > h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

#cabeza > ul {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size: 20px;
    margin:0px;
    padding:0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#cabeza > ul > li {
    transition: background-color .5s;
    padding:10px;
    flex-grow: 1;
    text-align: center;
}

#cabeza > ul > li:hover {
    background-color: plum;
}

#cabeza {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
    margin:0px;
}

#cabeza > ul > li> a:link, :visited, :active, :-webkit-any-link {
    text-decoration: none;
    color: white;
}

#frontpage {
    width: auto;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 10px;
}